body {
    margin: 0;
    padding: 10px;
    font-family: fantasy;
    background-color: black
}
header {
    text-align: center;
    color: whitesmoke;
}
#flexBoxOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#flexBoxOne > section{
    border: 2px solid black;
    text-align: center;
    background-color: whitesmoke; 
}
ul {
    width: relative;
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img {
    position: relative;
    width: 100%;
    border-bottom: 1px solid black;
}
a {
    color: whitesmoke;
    text-decoration:none;
    font-size: 24px;
    font-weight: bold;
}
a:visited {
    color: lightgray;
}
a p {
    margin: 0;
    text-align: center;
    vertical-align: middle;
}